body{  
  margin: 0;
  padding: 0;
  background-color: #b2a8b8;
  overflow-x: hidden;
}


//Colors
//Background ligt      pink/gray           #b2a8b8
//Header               purple              #4b0c86
//Header categories    lighter purple      #6d12c2
//Accent               redish              #ee335b